:root {
    --nextui-background: #fafafa;
    --nextui-text: #111111;
    --nextui-default-200: #c6d9db;
}

.dark {
    --nextui-background: #0e0e11;
    --nextui-text: #eeefff;
    --nextui-default-200: #3f575f;
}

.apexcharts-tooltip {
    background: radial-gradient(var(--nextui-background), var(--nextui-background)) !important;
    border-radius: 10px !important;
}

.apexcharts-tooltip-title {
    background: radial-gradient(var(--nextui-background), var(--nextui-background)) !important;
}

.apexcharts-xaxistooltip {
    background: var(--nextui-background) !important;
    color: var(--nextui-text) !important;
}

.apexcharts-menu-item:hover {
    border-radius: 7px !important;
    background-color: var(--nextui-default-200) !important;
}