:root {
    --heroui-background: #fafafa;
    --heroui-default-200: #c6d9db;
}

.dark {
    --heroui-background: #0e0e11;
    /* Ejemplo para modo oscuro */
    --heroui-default-200: #3f575f;
}

.apexcharts-menu {
    background: radial-gradient(var(--heroui-background), var(--heroui-background)) !important;
    border-radius: 10px !important;
}

.apexcharts-menu-item:hover {
    border-radius: 7px !important;
    background-color: var(--heroui-default-200) !important;
}