@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'datatables.net-dt';

html,
body {
  padding: 0;
  margin: 0;
}

@layer utilities {
  input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset !important;
    -webkit-text-fill-color: inherit !important;
    transition: background-color 50000s ease-in-out 0s !important;
  }

  progress {
    border: 0;
    height: 5px;
    border-radius: 20px;
  }

  progress::-webkit-progress-bar {
    border: 0;
    height: 5px;
    border-radius: 20px;
    background-color: hsl(var(--heroui-default-300));
  }

  progress::-webkit-progress-value {
    border: 0;
    height: 5px;
    border-radius: 20px;
    background-color: hsl(var(--heroui-default-700));
  }

  progress::-moz-progress-bar {
    border: 0;
    height: 5px;
    border-radius: 20px;
    background-color: hsl(var(--heroui-default-300));
  }
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: hsl(var(--heroui-default-300));
  border-radius: 4px;
  transition: '0.5s ease all';
}
body::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--heroui-background-300));
}

* {
  box-sizing: border-box;
}

.after\:bg-content1::after {
  background: hsl(var(--heroui-background-200)) !important;
}

[data-slot='content'].bg-content1 {
  background: transparent;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
